:root {
    --rowNum: 16;
    --colNum: 17;
}

body {
    font-family: Poppins, sans-serif;
    background-color: rgb(56, 56, 56);
    margin-bottom: 100px;
}

header {
    color: antiquewhite;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 0 auto;
    max-width: 1100px;
}

/* Grid styles */

.grid-container {
    background-color: #FFFFFF;
    display: grid;
    width: 400px;
    height: 400px;
    margin-right: 100px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 8px;
}

.grid-item {
    box-sizing: border-box;
}

/* Setting styles */

.settings {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
    width: 200px;
}

button,
input {
    cursor: pointer;
}

button {
    font-family: Poppins, sans-serif;
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 8px;
}

button:hover {
    background-color: black;
    color: antiquewhite;
}

button.active {
    background-color: black;
    color: antiquewhite;
}

/* Color Picker Styles */

input[type='color']{
    appearance: none;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

input[type='color'].active::-webkit-color-swatch{
border: 3px solid antiquewhite;
}

/* Slider styles*/

#slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -5px;
    margin-top: 30px;
}

.slider {
    height: 40px;
}

input[type='range'] {
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 9rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgb(113, 113, 113);
    height: 0.5rem;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: antiquewhite;
    margin-top: -12px;
    border-radius: 20px;
    height: 2rem;
    width: 1rem;
}

#grid-size-display {
    color: white;
}
