:root {
    --rowNum: 16;
    --colNum: 17;
}

body {
    font-family: Poppins, sans-serif;
    background-color: rgb(56, 56, 56);
}

header {
    color: antiquewhite;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Grid styles */

.grid-container {
    background-color: #FFFFFF;
    display: grid;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

.grid-item {
    box-sizing: border-box;
}

/* Setting styles */

.settings {
    margin-left: auto;
    margin-right: auto;
}

/* Slider styles*/

.slide-container {
    margin-left: auto;
    margin-right: auto;
}

.slider {
    height: 40px;
}

#grid-size-display {
    color: white;
}
